/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
}

/* Remove margins and padding from the list */
#container {
    display: block;
    width: 80%;
    margin: 0 auto;
}
ul {
    margin: 0;
    padding: 0;
}

/* Style the list items */
ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #7fc1f0;
    font-size: 18px;
    transition: 0.2s;
    list-style: none;
    color: #0c6767;
    overflow: hidden;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
    background: #cae2f3;
}

/* Darker background-color on hover */
ul li:hover {
    background: #6ab0e1;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
   background: #49a749;
    color: #fff;
    text-decoration: line-through;
    opacity: 0.2;
}a

/* Add a "checked" mark when clicked on */
ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

/* Style the close button */
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px
}

.close:hover {
    background-color: #f44336;
    color: white;
}
.none {
    display: none;
}

/* Style the header */
.header {
    background-color: #095489;
    padding: 30px 40px;
    color: #EBF2FA;
    text-align: center;
    margin-bottom: 20px;
    -webkit-box-shadow:0px 0px 16px 1px rgb(189, 204, 215);
-moz-box-shadow: 0px 0px 16px 1px rgb(189, 204, 215);
box-shadow:0px 0px 16px 1px rgb(189, 204, 215);
    border-radius: 5px;
}

/* Clear floats after the header */
.header:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the input */
input {
    border: none;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
    padding: 10px;
    width: 25%;
    background: #EBF2FA;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.addBtn:hover {
    background-color: #aeceec;
    color: #fff;
}
#myUL spam{
    text-align: center;
    width: 100%;
    display: block;
    padding: 20px;
    line-height: 30px;
    background-color: #dceaf7;
    font-size: 22px;
    color: #095489;
    margin-bottom: 10px;
}

.list {

    display: block;
   float: left;
    width: 48%;
    margin-right: 2%;
    margin-left: 1%;
    height: 300px;
   -webkit-box-shadow: 0px 0px 16px 1px rgba(9,84,137,1);
-moz-box-shadow: 0px 0px 16px 1px rgba(9,84,137,1);
box-shadow: 0px 0px 16px 1px rgba(9,84,137,1);
  margin-bottom: 30px;
}
.list2 {
    display: block;
   float: left;
    width: 48%;
    margin-right: 1%;
    height: 300px;
    -webkit-box-shadow: 0px 0px 16px 1px rgba(9,84,137,1);
-moz-box-shadow: 0px 0px 16px 1px rgba(9,84,137,1);
box-shadow: 0px 0px 16px 1px rgba(9,84,137,1);
    margin-bottom: 30px;
  
}

.drop {    background-color: #40affd;
}

